<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
         body{
            letter-spacing: 1px;
             line-height: 30px;
         }
         a{
             color:#5bc0de;
         }
        .box{
            width: 400px;
            height: 300px;
            background: #f9f9f9;
            position: fixed;
            top:0;
            right:0;
            bottom:0;
            left:0;
            margin: auto;

        }
        .content{
            padding:5px;
        }
        h5 {
            text-align: center;
            background: #ccc;
            height: 30px;
            line-height: 30px;
        }
        .num{
            color:#5bc0de;
        }
    </style>
</head>
<body>
<div class="box">
<h5>提示信息</h5>
    <div class="content">
        <%=message%>
        <div><span class="num">3</span>秒后跳转</div>
        <span>如果失败，请点击</span>
        <a href="<%=url%>">这里</a>重试
    </div>

</div>
</body>
<script>
    let numc=document.querySelector('.num');
    let num=3;

    setInterval(function(){
        num--;
        numc.innerHTML=num;
        if(num<=0){
            num=0;
            location.href='<%=url%>';
        }
    },1000)
</script>
</html>